<div id="screen" class="fontpack">
  <mat-toolbar color="primary" dir="rtl">
    <span>کمک انبار</span>
    <span class="example-spacer"></span>
    <button
      [routerLink]="'/first'"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </mat-toolbar>

  <div id="content" class="mt-4 contaier">
    <mat-card
      class="p-4 rounded-4 card example-card"
      style="width: 74vw"
      dir="rtl"
    >
      <div class="">
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr class="row">
              <td class="col-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>نام کامل خریدار</mat-label>
                  <input matInput 
                  (keypress)="keyWord($event)"
                  />
                </mat-form-field>
              </td>

              <td class="col-auto">
                <mat-form-field class="example-full-width">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-label class="me-2">شماره تماس</mat-label>
                  <input 
                  #phone
                  matInput 
                  maxlength="11" 
                  type="tel" 
                  (keypress)="keyNumber($event)"/>
                  <mat-hint dir="rtl">{{phone.value.length}} / 11</mat-hint>
                </mat-form-field>
              </td>
              <td class="col-auto">
                <mat-form-field
                  class="example-full-width"
                  style="min-width: 25vw"
                >
                  <ng-persian-datepicker class=" up">
                    <input (keypress)="keyNumber($event) " placeholder="انتخاب کنید" matInput matIconSuffix [formControl]="dateValue" />
                    <mat-datepicker #picker></mat-datepicker>
                  </ng-persian-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-divider class="m-3"></mat-divider>

          <table class="example-full-width fontpack" cellspacing="0">
            <tr class="row fontpack">
              <td class="col-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>نوع لیوان</mat-label>
                  <input matInput placeholder="مثال : ماگ" />
                </mat-form-field>
              </td>

              <td class="col-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>رنگ</mat-label>
                  <input matInput placeholder="مثال : قرمز" />
                </mat-form-field>
              </td>

              <td class="col-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>نوع کارتن</mat-label>
                  <input matInput placeholder="مثال : جعبه 6 تایی" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <mat-divider class="m-3"></mat-divider>

          <table class="example-full-width" cellspacing="0">
            <tr class="row">
              <td class="col-auto">
                <mat-checkbox color="primary" class="example-margin"
                  >لبه دار</mat-checkbox
                >
              </td>
              <td class="col-auto">
                <mat-checkbox color="primary" class="example-margin"
                  >طرح دار</mat-checkbox
                >
              </td>
              <td class="col-auto">
                <mat-checkbox color="primary" class="example-margin"
                  >داخل سفید</mat-checkbox
                >
              </td>
            </tr>
          </table>

          <mat-divider class="m-3"></mat-divider>

          <mat-form-field
            style="width: 70vw; height: 20vh"
            class="example-full-width"
          >
            <mat-label>آدرس</mat-label>
            <input matInput />
          </mat-form-field>

          <div class="example-button-row text-center">
            <button
              [routerLink]="'/first'"
              mat-raised-button
              color="warn"
              class="ms-2"
            >
              انصراف
            </button>
            <button mat-raised-button color="primary" class="me-2">
              تایید
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
