<div id="screen" class="fontpack">

    <mat-toolbar color="primary" dir="rtl">
      <span>کمک انبار</span>
      <span class="example-spacer m-2"></span>
      <button (click)="openDialog('100ms', '150ms')" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>announcement</mat-icon>
      </button>
    </mat-toolbar>
  
  <div id="content">
    <mat-card class="p-4 rounded-4 card min-w-0 max-w-75 max-h-100 min-h-200 mt-4 contaier-fluid" >
      <div class="row ">
          <div class="text-center  p-4">
            <button [routerLink]="'/newtask'" type="button" mat-raised-button color="primary" class="anime p-4 rounded-pill" target="_blank" rel="noopener" >
                سفارش جدید
            </button>
        </div>
          <div class="text-center  p-4">
            <button [routerLink]="'/list'" type="button" mat-raised-button color="primary" class="anime p-4 rounded-pill" target="_blank" rel="noopener" >
              لیست سفارش ها
            </button>
        </div>
      </div>
    </mat-card>
  </div>
    
</div>
 
  