<!DOCTYPE html>




<table style="width:90%" class="container fontpack">
    <tr class="row ">
      
      <td class="pt-2">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title *ngFor="let item of data">{{item.title}}</mat-panel-title>
              <mat-panel-description>
               tariikh mola
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider class="mb-2"></mat-divider>
            <div class="accardeon">
              <p class="call">shomare</p>
              <p>box count</p>
              <p> do rang</p>
              <p>rang mah</p>
              <p>box type</p>
              <p>tedad mah</p>
              <p>lable</p>
              <p>TARH</p>
              <p>noee mah</p>
              <p class="pb-4">addres</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </td>

    

      

    </tr>


</table>