#content-top{
    display: flex;
    justify-content: center;
    min-height: 80vh
}
.accardeon{
    display: grid;
    grid-template-columns: auto auto auto ;
   
    color: rgb(147, 147, 147);
}
.call{
    color: rgb(32, 32, 32);
}

body{
	padding-top:50px;
	background-color:#34495e;
}

.form-check-input{
    width: 30px;
    height: 30px;
}

.hiddenRow {
    padding: 0 !important;
}

