<!DOCTYPE html>




<table style="width:90%" class="container fontpack">
    <tr class="row " >

      
      <td class="pt-2">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title *ngFor="let item of data">item.boxcount</mat-panel-title>
              <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>

    

      <td class="pt-2">
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title *ngFor="let item of data">item.boxcount</mat-panel-title>
              <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>

    </tr>


</table>