<!DOCTYPE html>
  <div id="screen" class="fontpack">
    <div>

        <mat-toolbar color="primary" dir="rtl">
            <span>کمک انبار</span>
            <span class="example-spacer "></span>
            <button [routerLink]="'/first'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon >keyboard_arrow_left</mat-icon>
            </button>
        </mat-toolbar>
            
               <app-emptylist
                *ngIf="manage.empty"
                >
                </app-emptylist>
    </div>
        
            <app-orders 
                *ngIf="!manage.empty"
                [datasource]="'https://localhost:7255/lists'"
                [columns]="columns"
                (onEdit)="edit($event)"
                (onDelete)="remove($event)"
                >
            </app-orders>
</div>